{% extends 'mainapp/base.html'%}
{% load static i18n %}

{% block 'content' %}
    <header id="header" class="header">
        <img class="decoration-star" src="{% static 'images/background.svg' %}" alt="alternative">
        <img class="decoration-star-2" src="{% static 'images/background.svg' %}" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-5">
                    <div class="text-container">
                        <h1 class="h1-large"> {% trans 'UzFarad<br>kondensator&nbsp;zavodi' %}</h1>
                        <p class="p-large">
                        {% trans 'Turli sohalarda qo’llanishi mumkin bo’lgan plyonkali kondensatorlarni ishlab chiqarish. Sizning texnik topshirig’ingiz bo’yicha kondensatorlarni qisqa muddatlarda ishlab chiqish va tayyorlash.' %}
                        </p>
                        <a class="btn-solid-lg" href="#details">{% trans 'Batafsil' %}</a>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid main-picture" src="{% static 'images/collage.png' %}" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="details" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <h2>«UzFarad»</h2>
                    <p>
                        <span class='bold-name'> UzFarad</span>
                        {% trans 'korxonasi sanoat, tibbiyot, transport va aloqa sohalarida qo’llanishi mumkin bo’lgan plyonkali kondensatorlarni ishlab chiqarishga ixtisoslashgan.' %}
                    </p>
                    <p>
                        {% trans 'Biz qisqa muddatlarda sizning texnik topshirig’ingiz bo’yicha kondensatorlarni ishlab chiqamiz va tayyorlaymiz.' %}
                    </p>
                    <p>
                        {% trans 'Bir partiya hajmi bir donadan boshlab bir necha ming donagacha bo’lishi mumkin.' %}
                    </p>
                    <p>
                        {% trans 'Zamonviy hom-ashyo va uskunalardan foydalanishimiz bizga yuqori sifatdagi ixcham va ekologik xavfsiz kondensatorlar ishlab chiqarish imkonini beradi.' %}
                    </p>
                    <p>
                        {% trans '<span class="bold-name">UzFarad</span> kondensatorlari hususiyatlari va sifati' %}
                        {% trans 'unyoning taniqli ishlab chiqaruvchilarining mahsulotlaridan qolishmaydi hamda asbob-uskunalar va elektron moslamalarni ishlab chiqarishda siz uchun samarali yechim bo’ladi.' %}
                    </p>
                    <p>
                        {% trans 'Biz doimiy, o’zgaruvchan va pulsli tok zanjirlarida hamda impulsli rejimda ishlay oladigan keng miqyosda qo’llanishi mumkin bo’lgan kondensatorlarni ishlab chiqaramiz.' %}
                    </p>
                </div>
                <div class="col-xl-5">
                    <img class="img-fluid pt-25" src="{% static 'images/sun_battery.jpg' %}" alt="alternative">
                </div>
            </div>
        </div>
    </div>

    <div class="basic-3">
        <img class="decoration-star" src="{% static 'images/background.svg' %}" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="image-container">
                        <img class="img-fluid pt-39" src="{% static 'images/lep.jpg' %}" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7">
                    <div class="text-container">
                        <h2>UzFarad {% trans 'korxonasi' %}</h2>
                        <p>
                            {% trans 'Bizning barqaror rivojlanish va atrof muhitni himoya qilish tamoyillariga sodiqligimiz ISO 9001 Sifat menejmenti tizimlarining Xalqaro standarti bilan baholanadi.' %}
                        </p>
                        <p>
                            {% trans 'Kondensatorlar ichki o’rami maxsus toifadagi toza xonalarda tayyorlanadi. UzFarad kondensatorlarini vakuumda termik quritish va uni inert gaz bilan to’ldirilishi ushbu kondensatorlarning uzoq muddatlar davomida ishlashini, ularning ishonchliligini hamda ishlah parametrlarining barqarorligini ta’minlaydi.' %}
                        </p>
                        <p>
                            <span class="bold-name">
                                {% trans 'Ishlab chiqarish jarayonida turli darajali nazorat o’rnatilganligi hamda tayyor mahsulotni laboratoriyada yuqori kuchlanish sharoitida sinovdan o’tkazilishi islab chiqarilgan har bir mahsulotning xaridor talabiga mos bo’lishini ta’minlaydi.' %}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="characters" class="cards-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>{% trans 'UzFarad kondensatorlarining asosiy hususiyatlari' %}:</h2>
                        <p>{% trans 'Kondensatorning silindrik korpusi polipropilendan ishlab chiqarilgan. Uning ichki konstruksiyasi kondensator mexanik zarba yoki vibratsiyaga uchraganda harakatning oldini olish uchun xizmat qiladi. Payvandlashning inert jarayoni mahsulot korpusining germetikligini ta’minlaydi.' %}
                        </p>
                        <div class="cond-back">
                            <img class="condenser" src="{% static 'images/condensers.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card-container">

                        <div class="card">
                            <div class="card-icon">
                                <img class="icon-desc" src="{% static 'images/cond.png' %}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">C - {% trans 'sig’im 0,0001μF dan 30&mu;F gacha' %}</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-icon">
                                <img class="icon-desc" src="{% static 'images/u.png' %}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">U<sub>N</sub> - {% trans 'ishchi kuchlanish 30 kV gacha' %}</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-icon">
                                <img class="icon-desc" src="{% static 'images/ind.png' %}" style="margin-top: 20px;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">L - {% trans 'past induktivlik 10 nHn gacha' %}</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-icon">
                                <img class="icon-desc warm-lost" src="{% static 'images/lost.png' %}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">tg &delta; - {% trans 'kam darajadagi issiqlik yo’qotishlar 0,0005 gacha' %}</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-icon">
                                <img class="icon-desc" src="{% static 'images/cels.png' %}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">t &deg;C - {% trans 'harorat oralig’i -&nbsp;50 dan  +&nbsp;70&deg;C gacha' %}</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-icon">
                                <img class="icon-desc" src="{% static 'images/frequency.png' %}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">F - {% trans 'ishchi chastota 1&nbsp;Hz&nbsp;dan 500&nbsp;kHz&nbsp;gacha' %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="nomenclature" class="basic-2">
        <img class="decoration-star" src="{% static 'images/background.svg' %}" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-4 dis-none">
                    <div class="image-container">
                        <img class="img-fluid green-battery dis-none" src="{% static 'images/green-battery.png' %}" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-8 col-xl-8">
                    <div class="text-container">
                        <h2>{% trans 'UzFarad kondensatorlarining asosiy turlari' %}*</h2>
                        <ul class="li-space-lg list-unstyled">
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <span>{% trans 'UF1 Impulsli kondensatorlari' %}&ndash;&hellip;&nbsp;</span>&mdash;
                                    {% trans 'tokning kuchli impulslari generatorlarining energiya to’plagichlari. Kuch elektronikasi buyumlarini va energiyatalab uskulalarni “tezkor quvvatsizlantitish(razryadlash)” uchun mo’ljallangan. Kuchlanish - 1 dan 10 kV gacha; sig’im - 0.1 dan 10 &mu;F gacha.' %}
                                </div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <span>{% trans 'UF2 yuqori voltli va yuqori chastotali kondensatorlar' %}&ndash;&hellip;&nbsp;</span>&mdash;
                                    {% trans 'ikkilamchi quvvatlanish manbaalari uchun. Impuls va filtrli rejimlarda ishlash uchun mo’ljallangan. Kuchlanish - 1 dan 10 kV gacha; sig’im - 0.0001 dan 10 &mu;F gacha. Ishchi chastota - 1 Hz dan 500 kHz gacha.' %}
                                </div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <span>{% trans 'UF3 turdagi dempfer kondensatorlari' %}&ndash;&hellip;&nbsp;</span>&mdash;
                                    {% trans 'kuchli tiristorli o’zgartirgichlarning dempfer zanjirlarida ishlatilishi uchun mo’ljallangan. Kuchlanish - 0.4 dan 6 kV gacha; sig’im - 0.1 dan 30 &mu;F gacha. Ishchi chastota - 1 Hz dan 100 kHz gacha.' %}
                                </div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <span>{% trans 'UF4 to’plagich kondensatorlari' %}&ndash;&hellip;&nbsp;</span>&mdash;
                                    {% trans 'qisqa quvvatsizlantirish (razryadlash) vaqti talab qilinadigan kuch elektronikasi buyumlari va boshqa energiyatalab uskulalarda foydalaniladi. Kuchlanish - 1 dan 10 kV gacha; sig’im - 0.0001 dan 10 &mu;F gacha.' %}
                                </div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <span>{% trans 'UF0 maxsus kondensatorlari' %}&ndash;&hellip;&nbsp;</span>&mdash;
                                    {% trans 'alohida texnik topshiriq bo’yicha ishlab chiqariladi va aksariyat hollarda ilmiy tadqiqot ishlarida qo’llaniladi. Kuchlanish - 0.4 dan 30 kV gacha; sig’im - 0.0001 dan 30 &mu;F gacha.' %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="p-small">
                {% trans '*<span>UF3-3.0-0.47&plusmn;10%</span> kondensatorining belgilanish namunasi' %}: <br>
                <span>UF3</span> - {% trans 'dempferlovchi;' %}
                <span>3.0</span> - {% trans 'ishchi kuchlanish' %} U<sub>N</sub> = 3.0 kV;
                <span>0.47</span> - {% trans 'nominal sig’im' %} C = 0.47 &mu;F;
                <span>&plusmn;10%</span> - {% trans 'si’gimning ruxsat etilgan og’ish darajasi' %}
            </p>
        </div>
    </div>

    <div id="manufacture" class="basic-4 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{% trans 'Ishlab chiqarish' %}</h2><br>

                    <div class="gallery">
                        <div class="row-custom">
                            <img class="gallery-item" src="{% static 'images/manufacture-1.jpg' %}">
                            <img class="gallery-item" src="{% static 'images/manufacture-4.jpg' %}">
                        </div>
                        <div class="row-custom">
                            <img class="gallery-item" src="{% static 'images/manufacture-2.jpg' %}">
                            <img class="gallery-item" src="{% static 'images/manufacture-3.jpg' %}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="form-1">
        <img class="decoration-star" src="{% static 'images/background.svg' %}" alt="alternative">
        <img class="decoration-star-2" src="{% static 'images/background.svg' %}" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 temp-pb-20">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.7963131871957!2d69.16631081537166!3d41.29153727927303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae890cb2c92ee1%3A0x7c96ab86dd90987!2zMjYg0YPQu9C40YbQsCDQpNC-0LfQuNC70YLQtdC_0LAsINCi0LDRiNC60LXQvdGCLCDQo9C30LHQtdC60LjRgdGC0LDQvQ!5e0!3m2!1s{% trans 'uz' %}!2s{% trans 'uz' %}!4v1678970372682!5m2!1s{% trans 'uz' %}!2s{% trans 'uz' %}"
                            width="100%" height="60%" style="box-shadow: 0px 0px 20px 0px #000;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                <div class="contact-info">
                    <p><i class="fa fa-location-arrow mr-15" aria-hidden="true"></i>{% trans '100117, O’zbekiston, Toshkent shahri, Foziltepa, 26Auy' %}</p>
                    <p><i class="fa fa-phone mr-15" aria-hidden="true"></i><a href="tel:+998977479766">+998(97)747 9766</a></p>
                    <p><i class="fa fa-envelope mr-15" aria-hidden="true"></i><a href="mailto:info@uzfarad.uz">info@uzfarad.uz</a></p>
                </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>{% trans 'Biz bilan bog’lanish' %}</h2>
                        <form action="{% url 'mainapp:send_email' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" id="name" name="name" class="form-control-input" placeholder="{% trans 'Ism' %}" required>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" name="email" class="form-control-input" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control-textarea" placeholder="{% trans 'Murojaat' %}" required></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">{% trans 'Xatni jo’natish' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}